@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&family=Silkscreen&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;
    font-size: 1rem;
    font-family: 'Silkscreen', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h3,
input[type="number" i],
.generator__btn {
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 0.15rem;
}

input[type="number" i] {
    padding: 0 0.5rem;
}